<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xakerneos Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <!-- Прелоадер -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <!-- Шапка сайта -->
    <header class="animated-header">
        <div class="header-content">
            <img src="/static/logo.png" alt="Логотип сайта" class="logo">
            <h1>Xaker Security App</h1>
        </div>
    </header>

    <!-- Главное меню -->
    <nav class="animated-menu">
        <ul class="menu">
            <li><a href="/main">Главная</a></li>
            <li><a href="/info">Информация</a></li>
            <li><a href="/mainpage">Инструменты</a></li>
            <li><a href="/tutorial">Туториал</a></li>
            <li><a href="/developers">Разработчики</a></li>
            <li><a href="/donate">Пожертвовать</a></li>
	    <li><a href="/ddosefence">[SOON]Противодействие атакамp[SOON]</a></li>
        </ul>
    </nav>
    <div class="menu">
        <h2>Выберите инструмент</h2>
	<button onclick="showForm('show_guide')">HoWtoWhatto</button>
        <button onclick="showForm('udpFloodForm')">UDP Flood</button>
        <button onclick="showForm('t50Form')">T50</button>
        <button onclick="showForm('siegeForm')">Siege</button>
        <button onclick="showForm('slowlorisForm')">Slowloris</button>
        <button onclick="showForm('hping3Form')">Hping3</button>
        <button onclick="showForm('fpingForm')">Fping</button>
    </div>
</body>
</html>
