<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XakerNeo Контрибуте</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <header class="animated-header">
        <div class="header-content">
            <img src="/static/logo.png" alt="Логотип сайта" class="logo">
            <h1>Поддержите опен сурс</h1>
        </div>
    </header>

    <nav class="animated-menu">
        <ul class="menu">
            <li><a href="/main">Главная</a></li>
            <li><a href="/info">Информация</a></li>
            <li><a href="/mainpage">Инструменты</a></li>
            <li><a href="/tutorial">Туториал</a></li>
            <li><a href="/developers">Разработчики</a></li>
            <li><a href="/donate">Пожертвовать</a></li>
       
 </ul>
    </nav>

   <<div class="content">
    <h2 class="animated-title">Поддержите наш проект</h2>
    <p class="animated-text">Ваши пожертвования помогают нам развиваться, поддерживать актуальность наших инструментов, и расширять возможности Xaker Security.</p>

    <section>
        <h3>Почему стоит поддержать нас?</h3>
        <p>Мы стремимся сделать интернет более безопасным и доступным для всех. Наши инструменты бесплатны и с открытым исходным кодом, что позволяет вам участвовать в их развитии и проверке. Поддерживая нас, вы помогаете защищать пользователей по всему миру.</p>
        <ul>
            <li>Бесплатные инструменты для сетевой безопасности</li>
            <li>Открытый исходный код, прозрачность и возможность участия сообщества</li>
            <li>Непрерывное обновление и развитие функционала</li>
        </ul>
    </section>

    <section>
        <h3>Как поддержать проект?</h3>
        <p>Вы можете внести пожертвование любым удобным способом через нашу платформу или поддержать нас, распространяя информацию о проекте среди друзей и коллег.</p>
        <ul>
            <li>Финансовая поддержка</li>
            <li>Распространение информации о нашем проекте</li>
            <li>Участие в разработке и тестировании новых инструментов</li>
        </ul>
        <a href="/money" class="button">Пожертвовать</a>
    </section>

    <section>
        <h3>Отчеты о пожертвованиях</h3>
        <p>Мы открыты перед сообществом и регулярно публикуем отчеты о том, как используются полученные средства. Ваша поддержка помогает оплатить серверы, разработку, тестирование и продвижение проекта.</p>
    </section>
</div>


    <footer class="animated-footer">
        <p>&copy; 2024 XackerSecurity. Права не защищены, но последствия кражи губительны.</p>
    </footer>

    <script>
        window.onload = function() {
            document.getElementById('preloader').style.display = 'none';
        };
    </script>
</body>
</html>

