<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XakerNeo Информация</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <header class="animated-header">
        <div class="header-content">
            <img src="/static/logo.png" alt="Логотип сайта" class="logo">
            <h1>Информация о Xaker Security</h1>
        </div>
    </header>

    <nav class="animated-menu">
        <ul class="menu">
            <li><a href="/main">Главная</a></li>
            <li><a href="/info">Информация</a></li>
            <li><a href="/mainpage">Инструменты</a></li>
            <li><a href="/tutorial">Туториал</a></li>
            <li><a href="/developers">Разработчики</a></li>
            <li><a href="/donate">Пожертвовать</a></li>
        </ul>
    </nav>

  <div class="content">
    <h2 class="animated-title">О проекте Xaker Security</h2>
    <p class="animated-text">Xaker Security — это проект, нацеленный на предоставление простых, но мощных инструментов для улучшения безопасности в интернете.</p>

    <section>
        <h3>Почему выбрать Xaker Security?</h3>
        <p>Наши инструменты предназначены для пользователей любого уровня подготовки — от начинающих до профессионалов в области информационной безопасности. Мы предлагаем широкий спектр решений для анализа сетей, тестирования на проникновение, мониторинга безопасности и защиты данных.</p>
        <ul>
            <li>Открытые и бесплатные решения для защиты сетей</li>
            <li>Поддержка со стороны сообщества</li>
            <li>Гибкость использования для различных систем и сценариев</li>
        </ul>
    </section>

    <section>
        <h3>Наши цели</h3>
        <p>Главная цель проекта — повысить осведомленность пользователей о безопасности и предоставить им надежные инструменты для защиты от сетевых угроз. Мы хотим сделать киберпространство более безопасным для всех, предлагая решения, которые доступны каждому.</p>
    </section>

    <section>
        <h3>История проекта</h3>
        <p>Проект был создан группой энтузиастов информационной безопасности, которые столкнулись с проблемой недостатка бесплатных инструментов для защиты сетей и тестирования безопасности. С тех пор Xaker Security развился до международного сообщества разработчиков и пользователей, которые вместе работают над улучшением технологий защиты.</p>
    </section>
</div>


    <footer class="animated-footer">
        <p>&copy; 2024 XackerSecurity. Права не защищены, но последствия кражи губительны.</p>
    </footer>

    <script>
        window.onload = function() {
            document.getElementById('preloader').style.display = 'none';
        };
    </script>
</body>
</html>

