<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Really?</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
	<!-- Прелоадер -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

	<!-- Шапка сайта -->
    <header class="animated-header">
        <div class="header-content">
            <img src="/static/logo.png" alt="Логотип сайта" class="logo">
            <h1>Thank you!</h1>
        </div>
    </header>

    <div class="content">
        <h2 class="animated-title">Code, money, AD</h2>
        <p class="animated-text">Thank you, spasiba!</p>
        
        <!-- Adding images with correct src paths -->
        <img src="/static/images/btc.png" class="image" alt="BTC Logo">
        <img src="/static/images/ton.png" class="image" alt="TON Logo">
        <img src="/static/images/usdtrc.png" class="image" alt="USDT Logo">
    </div>
</body>
</html>
